<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
 <h1><%= t('.title_html') %></h1>



  <div id = "products">

    <%= render @products %>
   
  </div>
  <div id="loading_gif" style="text-align:center">

</div>
    <%= will_paginate @products %>



